mat-accordion{
  padding: 1rem;
}


table {
  width: 90%;
  padding: 1rem;
  margin: 2rem auto;
  background: var(--background)!important;
  color: var(--on-background)!important;
  box-shadow: var(--border-shadow)!important;
  border-radius: 15px;
  .states{
    width: fit-content;
    border-radius: 20px;
    padding: .3rem .5rem;
    font-weight: bold;
    font-size: 14px;
  }
}

.mat-column-state{
  width: 200px;
}

tbody td:hover{
  background-color: #471be3;
  color:white!important;
}

.mat-row:hover{
  background-color: #471be3;
  .mat-cell{
    color:white!important;
  }
}

.mat-icon:hover{
cursor: pointer;
color:white;
}

mat-paginator{
background: var(--background)!important;
color: var(--on-background)!important;
box-shadow: var(--border-shadow)!important;
}

@media only screen and (max-width: 950px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }
}