<div class="filters">
  <mat-accordion class="accordion" multi>
    <app-custom-filter
      filterName="specialties"
      [items]="Specialties"
      (filterSet)="getFilterSpecialties($event)"
    ></app-custom-filter>

    <app-custom-filter
      filterName="doctors"
      [items]="Doctors"
      (filterSet)="getFilterDoctors($event)"
    ></app-custom-filter>

    <app-custom-filter
      filterName="patients"
      [items]="Patients"
      (filterSet)="getFilterPatients($event)"
    ></app-custom-filter>
  </mat-accordion>
</div>

<mat-spinner
  *ngIf="loading"
  [diameter]="150"
  style="margin: 10% auto"
></mat-spinner>
<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  *ngIf="!loading"
  class="table-responsive"
>
  <!-- Specialty Column -->
  <ng-container matColumnDef="specialty">
    <th mat-header-cell *matHeaderCellDef>{{ "specialties" | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.especialidad.name }}</td>
  </ng-container>

  <!-- Doctor Column -->
  <ng-container matColumnDef="doctor">
    <th mat-header-cell *matHeaderCellDef>{{ "doctor" | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.medico.name }}</td>
  </ng-container>

  <!-- Patient Column -->
  <ng-container matColumnDef="patient">
    <th mat-header-cell *matHeaderCellDef>{{ "patient" | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.paciente.name }}</td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>{{ "date" | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
  </ng-container>

  <!-- Hour Column -->
  <ng-container matColumnDef="hour">
    <th mat-header-cell *matHeaderCellDef>{{ "time" | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.hora }}</td>
  </ng-container>

 <!-- State Column -->
  <ng-container matColumnDef="state" >
    <th mat-header-cell *matHeaderCellDef>{{ "state" | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <div class="states" appColorState>
        {{ element.estado | enumAsString: States }}
      </div>
    </td>
  </ng-container>

  <!-- Attend Column -->
  <ng-container matColumnDef="attend" *ngIf="typeUser !== 'patient'">
    <th mat-header-cell *matHeaderCellDef>{{ "accept" | translate }}</th>
    <td mat-cell disabled="true" *matCellDef="let element">
      <mat-icon
        *ngIf="!pastShifts && element.estado === 0"
        aria-hidden="false"
        aria-label="Example home icon"
        (click)="changeStateShift('ACEPTAR', element)"
        >done</mat-icon
      >
    </td>
  </ng-container>

  <!-- Cancel Column -->
  <ng-container matColumnDef="cancel">
    <th mat-header-cell *matHeaderCellDef>{{ "cancel" | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        *ngIf="!pastShifts && element.estado === 0"
        aria-hidden="false"
        aria-label="Example home icon"
        (click)="changeStateShift('CANCELAR', element, typeUser)"
        >report_problem</mat-icon
      >
    </td>

  <!-- Finish Column -->
  </ng-container>
  <ng-container matColumnDef="finish">
    <th mat-header-cell *matHeaderCellDef>{{ "finish" | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        *ngIf="!pastShifts && element.estado === 1"
        aria-hidden="false"
        aria-label="Example home icon"
        (click)="changeStateShift('FINALIZADO', element, typeUser)"
        >offline_pin</mat-icon
      >
    </td>
  </ng-container>

  <!-- Survey Column -->
  <ng-container matColumnDef="survey">
    <th mat-header-cell *matHeaderCellDef>{{ "survey" | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        *ngIf="element.estado == 5 && !element.encuesta"
        aria-hidden="false"
        aria-label="Example home icon"
        (click)="addSurvey(element)"
        >assignment_late</mat-icon
      >
    </td>
  </ng-container>

  <!-- Review Column -->
  <ng-container matColumnDef="review">
    <th mat-header-cell *matHeaderCellDef>{{ "review" | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        *ngIf="element.resena"
        aria-hidden="false"
        aria-label="Example home icon"
        (click)="seeReview(element)"
        >assignment</mat-icon
      >
    </td>
  </ng-container>

    <!-- Qualify Column -->
  <ng-container matColumnDef="qualify"  *ngIf="typeUser === 'patient'">
    <th mat-header-cell *matHeaderCellDef>{{ "rate" | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        *ngIf="element.estado == 5 && !element.calificacion"
        aria-hidden="false"
        aria-label="Example home icon"
        (click)="addRate(element)"
        >grade</mat-icon
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
