<mat-toolbar color="dark">
  <button mat-icon-button matTooltip="Menu" (click)="activateSidebar()">
    <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon>
  </button>
  <span>{{ "title" | translate }}</span>
  <div *ngIf="user">
    <img *ngIf="user != null" [src]="user.photoURL" alt="" />
  </div>
  <div class="controls">
    <app-theme-toogle></app-theme-toogle>
    <app-language-selector></app-language-selector>
  </div>
  <div class="spaced"></div>
  <button mat-button *ngIf="!user" (click)="login()">
    {{ "login" | translate }}
  </button>
  <button mat-icon-button matTooltip="Close session">
    <mat-icon
      *ngIf="user"
      mat-button
      (click)="logout()"
      aria-hidden="false"
      aria-label="logout"
      >logout</mat-icon
    >
  </button>
</mat-toolbar>
