.controls{
  width: 30%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.spaced{
  width:50%;
}

.userInfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  .imageContent{
    width:2.5rem;
    margin: 15px 10px;
    img{
      border-radius: 10px;
      width: 100%;
    }
  }
  p{
    font-size: medium;
  }
}
mat-toolbar{
  background: var(--background)!important;
  color: var(--on-background)!important;
}



@media only screen and (max-width: 700px) {
  .controls{
    margin-left: 30px;
  }
  span,.userInfo{
    display: none;
  }
}