<div class="container">
  <div class="button">
    <button
      class="big"
      mat-raised-button
      color="primary"
      (click)="downloadAsPDF()"
    >
      <span *ngIf="downloading">⬇️ {{ "downloading" | translate }}</span
      ><span *ngIf="!downloading">{{ "downloadPdf" | translate }}</span>
    </button>
  </div>
  <div class="row">
    <div class="neumoDiv" app-theme>
      <h4>{{ "barChart" | translate }} 📊</h4>
      <app-vertical-bar
        [data]="barData"
        id="verticalBar"
        #verticalBar
      ></app-vertical-bar>
    </div>
    <div class="neumoDiv" app-theme>
      <h4>{{ "pieChart" | translate }} 👩‍⚕️👨‍⚕️</h4>
      <app-pie-chart [data]="pieData" id="pieChart" #pieChart></app-pie-chart>
    </div>
  </div>
  <div class="row2">
    <div class="neumoDiv" app-theme>
      <h4>{{ "heatMap" | translate }} 🗓️</h4>
      <app-heat-map-calendar id="heatMap" #heatMap></app-heat-map-calendar>
    </div>
  </div>
</div>
