<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">supervised_user_circle</mat-icon>
      {{ "shiftsToday" | translate }}
    </ng-template>
    <app-shifts-list
      [showShifts]="todayShifts"
    ></app-shifts-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_hospital</mat-icon>
      {{ "shiftsNext" | translate }}
    </ng-template>
    <app-shifts-list
      [showShifts]="nextShifts"
    ></app-shifts-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_hospital</mat-icon>
      {{ "shiftsPrevious" | translate }}
    </ng-template>
    <app-shifts-list
      [showShifts]="previousShifts"
      [pastShifts]="arePrevious"
    ></app-shifts-list>
  </mat-tab>
</mat-tab-group>
