<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">supervised_user_circle</mat-icon>
      {{ "shiftsToday" | translate }}
    </ng-template>
    <app-shifts-list
      [mostrar_turnos]="turnos_hoy"
      (confirmo_turno)="actualizar_turnos($event)"
    ></app-shifts-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_hospital</mat-icon>
      {{ "shiftsNext" | translate }}
    </ng-template>
    <app-shifts-list
      [mostrar_turnos]="turnos_proximos"
      (confirmo_turno)="actualizar_turnos($event)"
    ></app-shifts-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_hospital</mat-icon>
      {{ "shiftsPrevious" | translate }}
    </ng-template>
    <app-shifts-list
      [mostrar_turnos]="turnos_pasados"
      [turno_pasado]="pasados"
      (confirmo_turno)="actualizar_turnos($event)"
    ></app-shifts-list>
  </mat-tab>
</mat-tab-group>
