<div app-theme class="myModal">
  <div class="" *ngIf="cargando">
    <h2 mat-dialog-title>{{ "addingShift" | translate }}</h2>
    <mat-spinner></mat-spinner>
  </div>

  <div class="modal" *ngIf="!cargando && !turno_cargado">
    <h2 mat-dialog-title>
      {{ "details" | translate }} {{ turno.especialidad.name }}
    </h2>
    <mat-dialog-content>
      <span
        ><b>{{ "doctor" | translate }}:</b> {{ turno.medico.name }}</span
      ><br />
      <span
        ><b>{{ "patient" | translate }}:</b> {{ turno.paciente.name }}</span
      ><br />
      <span
        ><b>{{ "date" | translate }}:</b> {{ turno.fecha }}
        {{ turno.hora }}</span
      >
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="confirmarTurno()">
        {{ "confirmShift" | translate }}
      </button>
      <button mat-raised-button mat-dialog-close color="warn">
        {{ "cancel" | translate }}
      </button>
    </mat-dialog-actions>
  </div>

  <div class="" *ngIf="!cargando && turno_cargado">
    <h2 mat-dialog-title>
      {{ "thankyou" | translate }}{{ turno.paciente.name }}
    </h2>
    <mat-dialog-content>
      <span>{{ "reminderShift" | translate }}</span>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="warn" mat-dialog-close>
        {{ "close" | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
