<div app-theme class="myModal">
  <div class="" *ngIf="loading">
    <h2 mat-dialog-title>{{ "addingShift" | translate }}</h2>
    <mat-spinner></mat-spinner>
  </div>

  <div class="modal" *ngIf="!loading && !shiftLoaded">
    <h2 mat-dialog-title>
      {{ "details" | translate }} {{ shift.especialidad.name }}
    </h2>
    <mat-dialog-content>
      <span
        ><b>{{ "doctor" | translate }}:</b> {{ shift.medico.name }}</span
      ><br />
      <span
        ><b>{{ "patient" | translate }}:</b> {{ shift.paciente.name }}</span
      ><br />
      <span
        ><b>{{ "date" | translate }}:</b> {{ shift.fecha }}
        {{ shift.hora }}</span
      >
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="confirmShift()">
        {{ "confirmShift" | translate }}
      </button>
      <button mat-raised-button mat-dialog-close color="warn">
        {{ "cancel" | translate }}
      </button>
    </mat-dialog-actions>
  </div>

  <div class="" *ngIf="!loading && shiftLoaded">
    <h2 mat-dialog-title>
      {{ "thankyou" | translate }}{{ shift.paciente.name }}
    </h2>
    <mat-dialog-content>
      <span>{{ "reminderShift" | translate }}</span>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="warn" mat-dialog-close>
        {{ "close" | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
