table {
  width: 90%;
  padding: 1rem;
  margin: 2rem auto;
  background: var(--background)!important;
  color: var(--on-background)!important;
  box-shadow: var(--border-shadow)!important;
  border-radius: 15px;
}

tbody tr:hover{
  background-color: #4583c7;
}

.mat-row:hover{
  background-color: #4583c7;
}

.mat-icon:hover{
cursor: pointer;
color:white;
}

mat-paginator{
background: var(--background)!important;
color: var(--on-background)!important;
box-shadow: var(--border-shadow)!important;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  li{
    margin-right: 1.3rem;
  }
  list-style-type: none;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  flex-wrap: wrap;
}



@media only screen and (max-width: 950px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }
}