<div *ngIf="lastSelection">
  <div class="border" *ngIf="myList && myList.length > 0">
    <h3>
      {{ fieldName }}
      <span *ngIf="elementToShow">{{ elementToShow.name }}</span>
    </h3>

    <mat-selection-list
      #item
      [multiple]="false"
      (selectionChange)="
        onOptionsSelected(item.selectedOptions.selected[0]?.value)
      "
    >
      <mat-list-option *ngFor="let element of myList" value="{{ element.id }}">
        <!-- <div class="box">
          <img [src]="element.first_image" alt="">
        </div>
        <div class="box">
          <span>{{ element.name }}</span>
        </div> -->
        <img matListAvatar  *ngIf="!element.first_image" src="../../../../assets/images/user.png" alt="">
        <img matListAvatar  *ngIf="element.first_image" [src]="element.first_image" alt="">
        <!-- <mat-icon mat-list-icon><img [src]="element.first_image" alt=""></mat-icon> -->
        <div mat-line>{{ element.name }}</div>
        <div mat-line> {{element.score}} 🌟</div>
        <span></span>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div *ngIf="myList && myList.length === 0">
    <h3>{{'sorrySearch' | translate}}</h3>
  </div>
</div>
