mat-horizontal-stepper {
  background: var(--background)!important;
  color: var(--on-background)!important;
  width: 100%;
  height: 90%;
  overflow-x: hidden;
}

mat-radio-button{
  img{
    height: 100px;
    width: 100px;
  }
}

mat-step {
  background: var(--background);
  color: var(--on-background);
  box-shadow: var(--border-shadow);
}
.form_datos {
  margin-top: 2.5rem;
  padding: 1rem;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
  align-items: center;
  background: var(--background);
  color: var(--on-background);
  box-shadow: var(--border-shadow);

  mat-form-field {
    border-radius: 14px;
    background: var(--background);
    box-shadow: var(--border-shadow);
    padding: 0.6rem;
    width: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    mat-label {
      color: var(--on-background);
    }
    input {
      color: var(--on-background);
    }
  }
}
.captcha {
  margin: 1% auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn-form {
  text-align: center;
  margin-top: 3rem;
  button {
    margin-left: 1rem;
  }
}

.datos-prin{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 50%;
  mat-form-field {
    width: 80%;
  }
}

.datos_impor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  mat-form-field {
    width: 80%;
    margin-top: 1rem;
  }
}
.imagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  app-upload-image {
    margin-right: 2rem;
  }
}

.datos_tipo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  padding: 1rem;
  .tipo {
    min-width: 300px;
    height: 50%;
    mat-form-field{
      margin-top:1rem;
      width:80%;
    } 
    label {
      font-weight: 400;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    mat-radio-button {
      margin-right: 1rem;
      margin-top: 0.4rem;
    }
    width: 25%;
    background: var(--background);
    border-radius: 15px;
  }
  mat-form-field {
    width: 50%;
    margin-top: 0;
    color: var(--on-background);
  }
}
::ng-deep .mat-select-value{    
  color: var(--on-background)!important;  }


@media only screen and (max-width: 950px) {
  mat-horizontal-stepper {
    background: var(--background);
    width: 100%;
    height: 100%;
    overflow-x: scroll;
  }
  .form_datos {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .datos-prin{
      mat-form-field {
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 1rem 1rem;
      }
    }
    mat-form-field {
      width: 80%;
      justify-content: center;
      align-items: center;
      margin: 1rem 1rem;
    }
  }

  .btn-form {
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    button {
      margin-left: 1rem;
    }
  }
  .datos_impor {
    width: 100%;
    mat-form-field {
      width: 80%;
      margin-top: 1rem;
    }
  }

  .datos_tipo{
    flex-direction: column;
    mat-form-field{
      margin-right: 1rem;
      margin-left: 0;
    }

  }

  .captcha {
    margin-top: 3rem;
  }
}
