<mat-horizontal-stepper linear="false" #stepper>
  <mat-step>
    <div class="form_datos">
      <ng-template matStepLabel>{{ "typeOfUser" | translate }}</ng-template>
      <div class="datos_tipo">
        <div class="tipo">
          <label id="example-radio-group-label">{{
            "chooseOption" | translate
          }}</label
          ><br />
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="tipoUsuario"
            name="tipoUsuario"
          >
            <mat-radio-button
              class="example-radio-button"
              value="patient"
            >
            <img src="../../../../assets/images/person.png" alt="">
              {{ "patient" | translate }}
            </mat-radio-button>
            <mat-radio-button
            class="example-radio-button"
            value="doctor"
          >
          <img src="../../../../assets/images/doctor.png" alt="">
            {{ "doctor" | translate }}
          </mat-radio-button>
          </mat-radio-group>

          <mat-form-field appearance="standard">
            <mat-label>{{ "document" | translate }}</mat-label>
            <input
              matInput
              [formControl]="documentFormCtrl"
              placeholder="DNI"
            />
            <mat-error *ngIf="documentFormCtrl.hasError('required')">
              {{ "fieldRequired" | translate }}
            </mat-error>

            <mat-error *ngIf="documentFormCtrl.value.length < 8">
              {{ "validateDocument" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field
          *ngIf="tipoUsuario == 'doctor'"
          appearance="fill"
          color="primary"
        >
          <mat-label>{{ "specialties" | translate }}</mat-label>
          <mat-select
            class="select_color"
            [formControl]="especialidadFormCtrl"
            multiple
            required
          >
            <mat-option
              class="select_color"
              *ngFor="let especialidad of especialidades | enumToArray"
              [value]="especialidad.name"
            >
              {{ especialidad.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="tipoUsuario == 'patient'"
          appearance="fill"
          color="primary"
        >
          <mat-label>{{ "insurance" | translate }}</mat-label>
          <input
            matInput
            [formControl]="obraSocial"
            placeholder="Obra Social"
          />
          <mat-error *ngIf="obraSocial.hasError('required')">
            {{ "fieldRequired" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="btn-form">
      <button mat-raised-button color="accent" matStepperPrevious>
        {{ "back" | translate }}
      </button>
      <button matStepperNext mat-raised-button color="primary">
        {{ "next" | translate }}
      </button>
    </div>
  </mat-step>
  <mat-step [stepControl]="datosPersonalesFormGroup">
    <form [formGroup]="datosPersonalesFormGroup">
      <div class="form_datos">
        <ng-template matStepLabel>{{ "personalInfo" | translate }}</ng-template>

        <div class="datos-prin">
          <mat-form-field appearance="standard">
            <mat-label>{{ "name" | translate }}</mat-label>
            <input
              matInput
              [formControl]="nombreFormCtrl"
              placeholder="Nombre"
            />
            <mat-error *ngIf="nombreFormCtrl.hasError('required')">
              {{ "fieldRequired" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard">
            <mat-label>{{ "surname" | translate }}</mat-label>
            <input
              matInput
              [formControl]="apellidoFormCtrl"
              placeholder="Apellido"
            />
            <mat-error *ngIf="apellidoFormCtrl.hasError('required')">
              {{ "fieldRequired" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="datos-prin">
          <mat-form-field appearance="standard">
            <mat-label>{{ "address" | translate }}</mat-label>
            <input
              matInput
              [formControl]="domicilioFormCtrl"
              placeholder="Domicilio"
            />
            <mat-error *ngIf="domicilioFormCtrl.hasError('required')">
              {{ "fieldRequired" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" class="edadFormCtrl">
            <mat-label>{{ "age" | translate }}</mat-label>
            <input
              matInput
              type="number"
              [formControl]="edadFormCtrl"
              placeholder="Edad"
            />
            <mat-error *ngIf="edadFormCtrl.hasError('required')">
              {{ "fieldRequired" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="btn-form">
      <button matStepperNext mat-raised-button color="primary">
        {{ "next" | translate }}
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="datosCuentaFormGroup">
    <ng-template matStepLabel>{{ "accountInfo" | translate }}</ng-template>
    <form [formGroup]="datosCuentaFormGroup" class="form_datos">
      <div class="datos_impor">
        <mat-form-field appearance="standard">
          <mat-label>{{ "email" | translate }}</mat-label>
          <input
            matInput
            [formControl]="emailFormCtrl"
            placeholder="Ej. admin@gmail.com"
          />
          <mat-error
            *ngIf="
              emailFormCtrl.hasError('email') &&
              !emailFormCtrl.hasError('required')
            "
          >
            {{ "validateEmail1" | translate }}
          </mat-error>
          <mat-error *ngIf="emailFormCtrl.hasError('required')">
            {{ "validateEmail2" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>{{ "password" | translate }} </mat-label>
          <input
            matInput
            [formControl]="claveFormCtrl"
            minlength="6"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="claveFormCtrl.hasError('required')">
            {{ "validatePassword2" | translate }}
          </mat-error>
          <mat-error *ngIf="claveFormCtrl.value.length < 6">
            {{ "validatePassword1" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="imagenes">
        <app-upload-image
          source="{{ imagen_uno }}"
          (fotoSeleccionada)="obtieneImagen_uno($event)"
          (fotoSubir)="archivoSubir_uno($event)"
        ></app-upload-image>
        <app-upload-image
          source="{{ imagen_dos }}"
          (fotoSeleccionada)="obtieneImagen_dos($event)"
          (fotoSubir)="archivoSubir_dos($event)"
        ></app-upload-image>
      </div>
    </form>
    <div class="captcha">
      <re-captcha
        (resolved)="resolved($event)"
        siteKey="6Lcv5fgUAAAAALZuvhQHpOBljPWXfGeD165TICyR"
      ></re-captcha>
    </div>
    <div class="btn-form">
      <button mat-raised-button color="accent" matStepperPrevious>
        {{ "back" | translate }}
      </button>
      <button mat-raised-button color="primary" matStepperNext>
        {{ "next" | translate }}
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{ "controlInfo" | translate }}</ng-template>
    <p>{{ "verifyInfo" | translate }}</p>
    <app-user-detail
      [nombre]="nombreFormCtrl.value"
      [apellido]="apellidoFormCtrl.value"
      [domicilio]="domicilioFormCtrl.value"
      [edad]="edadFormCtrl.value"
      [correo]="emailFormCtrl.value"
      [imagen_uno]="imagen_uno"
      [imagen_dos]="imagen_dos"
      [tipo]="tipoUsuario"
      [obraSocial]="obraSocial.value"
      [doc]="documentFormCtrl.value"
      [especialidades]="especialidadFormCtrl.value"
    >
    </app-user-detail>
    <div class="btn-form">
      <button mat-raised-button color="accent" matStepperPrevious>
        {{ "back" | translate }}
      </button>
      <button mat-raised-button color="warn" (click)="LimpiarCampos()">
        {{ "cleanAll" | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="EnviarRegistro()">
        {{ "register" | translate }}
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
