<div class="row">
    <div class="column-datos" *ngIf="user">
        <app-user-detail
        [nombre]="user.name"
        [apellido]="user.surname"
        [domicilio]="user.address"
        [edad]="user.age"
        [correo]="user.mail"
        [imagen_uno]="user.first_image"
        [imagen_dos]="user.second_image"
        [tipo]="user.type"
        [obraSocial]="user?.obraSocial"
        [doc]="user.doc"
        [especialidades]="user?.especializaciones"
      >
      </app-user-detail>
    </div>
    <div class="column-feature">
      <!-- <app-medical-schedule></app-medical-schedule> -->
      <app-user-card [user]=user></app-user-card>
    </div> 
  </div>