<div class="sacar_turnos" *ngIf="loggeado">
    <div class="especialidad">
        <app-combo-list
        lastSelection="true"
          fieldName="Especialidad seleccionada:"
          [elementToShow]="turno_especialidad"
          [myList]="lista_especialidad"
          (selectedItem)="mandamosEspecialidad($event)"
        ></app-combo-list>
      </div>

  <div class="medico">
    <app-combo-list
      [lastSelection]="tiene_especialidad"
      fieldName="Medico seleccionado:"
      [elementToShow]="turno_medico"
      [myList]="lista_filtrada_medicos"
      (selectedItem)="mandamosMedico($event)"
    ></app-combo-list>
  </div>
  <div class="medico">
    <app-combo-day
      [eligio_medico]="tiene_medico"
      [dias]="lista_filtrada_dias"
      [dia_mostrar]="turno_dia"
      (seleccionaDia)="mandamosDia($event)"
    ></app-combo-day>
  </div>
  <div class="medico">
    <app-combo-hour
      [eligio_dia]="tiene_dia"
      (seleccionaHora)="mandamosHora($event)"
      [horarios]="lista_filtrada_horarios"
      [horario_mostrar]="turno_hora"
    ></app-combo-hour>
  </div>
</div>

<div *ngIf="!loggeado">
  <div class="aviso">
    <mat-card>
      Ingresa para poder pedir un turno!
      <button mat-raised-button color="primary" (click)="irIngreso()">
        Ingresar
      </button>
    </mat-card>
  </div>
</div>
