<div class="sacar_turnos" *ngIf="isLogged">
    <div class="especialidad">
        <app-combo-list
        lastSelection="true"
          fieldName="{{'selectedSpecialty' | translate}}:"
          [elementToShow]="shiftSpecialty"
          [myList]="specialtiesList"
          (selectedItem)="sendSpecialty($event)"
        ></app-combo-list>
      </div>

  <div class="medico">
    <app-combo-list
      [lastSelection]="haveSpecialty"
      fieldName="{{'selectedDoctor' | translate}}:"
      [elementToShow]="shiftDoctor"
      [myList]="doctorFilterList"
      (selectedItem)="sendDoctor($event)"
    ></app-combo-list>
  </div>
  <div class="medico">
    <app-combo-day
      [choseDoctor]="haveDoctor"
      [workDays]="dayFilterList"
      [showDay]="shiftDay"
      (selectedDay)="sendDay($event)"
    ></app-combo-day>
  </div>
  <div class="medico">
    <app-combo-hour
      [choseDay]="haveDay"
      (selectedHour)="sendHour($event)"
      [hours]="hourFilterList"
      [showHour]="shiftHour"
    ></app-combo-hour>
  </div>
</div>

<div *ngIf="!isLogged">
  <div class="aviso">
    <mat-card>
      {{'goLogin' | translate}}
      <button mat-raised-button color="primary" (click)="goLogin()">
        {{'login' | translate}}
      </button>
    </mat-card>
  </div>
</div>
