<mat-toolbar color="primary">
  <button mat-icon-button matTooltip="Menu de usuario">
    <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon>
  </button>
  <span>Medical Assist</span>
  <span class="spaced"></span>
  <!-- <div *ngIf="usuario" >
      <img  *ngIf="usuario != null" [src]="profileImg" alt="">
  </div> -->
  <!-- {{usuario | async | json}} -->
  <button mat-button></button>
  <button mat-icon-button matTooltip="Cerrar sesion">
    <mat-icon aria-hidden="false" aria-label="logout">logout</mat-icon>
  </button>
  <!-- <button *ngIf="usuario" mat-button (click)="logOut()">Salir</button> -->
  <button mat-button>Ingresar</button>
  <mat-icon>brightness_5</mat-icon>
  <mat-slide-toggle (change)="onDarkModeSwitched($event)"></mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
</mat-toolbar>
<div app-theme class="container">
  <div class="neumoDiv">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi provident animi
    voluptatibus, saepe suscipit nostrum doloremque sed ipsum rem quisquam illo id
    accusamus veniam maxime labore, sequi odio minima pariatur.
  </div>
</div>

<div app-theme>
	<h1>Dark Mode With Angular and CSS</h1>
	<div class="main container">
    This text color should change when you clcik on toggle button. The background-color and text-color of the body will change.
		<div class="innerdiv">
			<p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <span>Light</span>
      <label class="switch">
        <input type="checkbox" (click)="toggle()" >
        <span class="slider round"></span>
      </label>
      <span>Dark</span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
