<div class="row">
  <div class="column-login">
    <mat-toolbar>
      <span>{{ "title" | translate }}</span>
    </mat-toolbar>

    <app-stepper-form app-theme
      (usuario_registrado)="ObtenerUsuario($event)"
      (user_img_1)="GetImgUno($event)"
      (user_img_2)="GetImgDos($event)"
    ></app-stepper-form>
  </div>
  <div class="column-imagen">
    <button mat-raised-button color="warn" routerLink="/login">{{'login'| translate}}</button>
    <img src="../../../assets/images/register.svg" alt="" />
    <span>{{ "registermessage1" | translate }}</span>
    <span>{{ "registermessage2" | translate }}</span>
    <div class="features">
      <app-language-selector></app-language-selector>
      <app-theme-toogle></app-theme-toogle>
    </div>
  </div>
</div>
