<ngx-charts-pie-chart
  class="chart-container"
  [view]="view"
  [scheme]="colorScheme"
  [results]="data"
  [animations]="animations"
  [legend]="showLegend"
  [legendTitle]="legendTitle"
  [legendPosition]="legendPosition"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  [arcWidth]="arcWidth"
  [gradient]="gradient"
  [trimLabels]="false"
  [tooltipDisabled]="tooltipDisabled"
  [tooltipText]="pieTooltipText"
  (dblclick)="dblclick($event)"
  (select)="select($event)"
  (activate)="activate($event)"
  (deactivate)="deactivate($event)"
>
</ngx-charts-pie-chart>
