<div class="example-container">
  <app-navbar [user]="user" (openSidebar)="snav.toggle()"></app-navbar>
  <mat-sidenav-container class="example-sidenav-container" hasBackdrop="false">
    <mat-sidenav #snav fixedTopGap="56" mode='side'>
      <mat-list>
        <div mat-subheader>Menu</div>

        <mat-list-item
          *ngFor="let menuopt of menuOptions"
          [routerLink]="[menuopt.router]"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>{{ menuopt.icon }}</mat-icon>
          <div mat-line>{{ menuopt.title | translate }}</div>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
