<div app-theme class="myModal">
  <div class="" *ngIf="cargando">
    <h2 mat-dialog-title>Agregando turno ...</h2>
    <mat-spinner></mat-spinner>
  </div>

  <div class="modal" *ngIf="!cargando && !turno_cargado">
    <h2 mat-dialog-title>
      Detalles del turno para {{ turno.especialidad.name }}
    </h2>
    <mat-dialog-content>
      <span><b>Medico:</b> {{ turno.medico.name }}</span><br>
      <span><b>Paciente:</b> {{ turno.paciente.name }}</span><br>
      <span><b>Fecha:</b> {{ turno.fecha }} {{ turno.hora }}</span>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="confirmarTurno()">
        Confirmar Turno
      </button>
      <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
    </mat-dialog-actions>
  </div>

  <div class="" *ngIf="!cargando && turno_cargado">
    <h2 mat-dialog-title>Muchas gracias {{ turno.paciente.name }}</h2>
    <mat-dialog-content>
      <span>No te olvides de cargar una reseña mas adelante!</span>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>
  </div>
</div>
