@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;600&family=Grenze+Gotisch:wght@100&display=swap");

@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: "Poppins,Gothic A1,Gotham, sans-serif",
  $title: mat-typography-level(24px, 32px, 600),
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(14px, 20px, 400),
);

// GAMA COLORES
$my-primary-color: (
  200 : #a78ff3,
  300 : #8362ee,
  400 : #6941ea,
  500 : #4e1fe6,
  600 : #471be3,
  700 : #3d17df,
  contrast: (
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
  ),
);

$my-accent-color: (
  200 : #abcbe9,
  300 : #89b6e0,
  400 : #6fa6d9,
  500 : #5696d2,
  600 : #4f8ecd,
  700 : #4583c7,
  contrast: (
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
  ),
);


$my-warn-color: (
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  contrast: (
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
  ),
);

// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);

// TEMA PROPIO
$my-theme-light: mat-light-theme(
  (
    color: (
      primary: $my-palette-primary,
      accent: $my-palette-accent,
      warn: $my-palette-warn,
    ),

    typography: $custom-typography,
  )
);

$my-theme-dark: mat-dark-theme(
  (
    color: (
      primary: $my-palette-primary,
      accent: $my-palette-accent,
      warn: $my-palette-warn,
    ),
    typography: $custom-typography,
  )
);

.darkMode {
  @include angular-material-theme($my-theme-dark);
}

.lightMode {
  @include angular-material-theme($my-theme-light);
}

// APLICAR NUESTRO TEMA A ANGULAR
@include angular-material-theme($my-theme-light);
@include mat-core($custom-typography);

// REEMPLAZA EN ANGULAR.JSON -> STYLES
// "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
// POR LA RUTA DEL CUSTOM THEME
// "src/assets/styles/my-theme.scss",
html, body { height: 100%; }
body {
  margin: 0;
  // font-family: Gotham, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  //   Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Gotham,Gothic A1", sans-serif;
}

*{
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #471be3;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  // box-shadow: rgb(238 234 244) 0px 0px 5px inset;
  border-radius: 10px;
  background: transparent;
}

.custom-modalbox{
    mat-dialog-container{
      background: transparent!important;
      padding: 0!important;
      margin: 0!important;
      border-radius: 20px!important;
    }
    border-radius: 20px!important;

}


.darkMode {
  /**
     * Backgrounds
     */
  $color-bg-darkest: #13141b;
  $color-bg-darker: #1b1e27;
  $color-bg-dark: #232837;
  $color-bg-med: #2f3646;
  $color-bg-light: #455066;
  $color-bg-lighter: #5b6882;

  /**
     * Text
     */
  $color-text-dark: #72809b;
  $color-text-med-dark: #919db5;
  $color-text-med: #A0AABE;
  $color-text-med-light: #d9dce1;
  $color-text-light: #f0f1f6;
  $color-text-lighter: #fff;

  background: $color-bg-darker;

  .ngx-charts {

    text {
      fill: $color-text-med;
    }

    .tooltip-anchor {
      fill: rgb(255, 255, 255);
    }

    .gridline-path {
      stroke: $color-bg-med;
    }

    .refline-path {
      stroke: $color-bg-light;
    }

    .reference-area {
      fill: #fff;
    }

    .grid-panel {
      &.odd {
        rect {
          fill: rgba(255, 255, 255, 0.05);
        }
      }
    }

    .force-directed-graph {
      .edge {
        stroke: $color-bg-light;
      }
    }

    .number-card {
      p {
        color: $color-text-light;
      }
    }

    .gauge {
      .background-arc {
        path {
          fill: $color-bg-med;
        }
      }

      .gauge-tick {
        path {
          stroke: $color-text-med;
        }

        text {
          fill: $color-text-med;
        }
      }
    }

    .linear-gauge {
      .background-bar {
        path {
          fill: $color-bg-med;
        }
      }

      .units {
        fill: $color-text-dark;
      }
    }

    .timeline {
      .brush-background {
        fill: rgba(255, 255, 255, 0.05);
      }

      .brush {
        .selection {
          fill: rgba(255, 255, 255, 0.1);
          stroke: #aaa;
        }
      }
    }

    .polar-chart .polar-chart-background {
      fill: rgb(30, 34, 46);
    }

  }

  .chart-legend {
    .legend-labels {
      background: rgba(255, 255, 255, 0.05) !important;
    }

    .legend-item {
      &:hover {
        color: #fff;
      }
    }

    .legend-label {
      &:hover {
        color: #fff !important;
      }

      .active {
        .legend-label-text {
          color: #fff !important;
        }
      }
    }

    .scale-legend-label {
      color: $color-text-med;
    }
  }

  .advanced-pie-legend {
    color: $color-text-med;

    .legend-item {
      &:hover {
        color: #fff !important;
      }
    }
  }

  .number-card .number-card-label {
    font-size: 0.8em;
    color: $color-text-med;
  }
}