.sacar_turnos {
  display: flex;
  flex-direction: row;
  div {
    width: 25%;
    margin: 1rem 1rem;
  }
}

.aviso {
  margin: 2rem auto;
  height: auto;
  display: flex;
  width: 20%;
  flex-direction: column;
  mat-card {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .sacar_turnos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      width: 60%;
      max-height: 320px;
      // overflow-y: scroll;
      margin: 2rem 1rem;
    }
  }
}
